.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    flex-wrap: wrap;
    border-right: 6px solid #625EF9;
    border-radius: 10px;
    width: 50vw;
    margin: auto ;
    animation-name: head;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 0;
    margin-bottom: 20px;
}

.input {
    display: flex;
    justify-content: left;
    padding: 20px;
    align-items: center;
    margin: 5px;
    flex-wrap: wrap;
    height: 30px;
}

.progress {
    margin: 0;
    height: 7px;
    background: rgb(1, 164, 9);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}



.t {
    width: 40vw;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
}


.t:focus{
    outline: 0;
}



.submit{
    background-color: #625EF9;
    color: aliceblue;
    border: 1px solid aliceblue;
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 7px;
    cursor: pointer;
    margin:   10px;
}

.heading{
    color: #625EF9;
    text-shadow: 2px 2px 2px rgb(161, 150, 217);
    position: relative;
    animation-name: head;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: 0;
}

@media screen and (max-width:1200px){
    .page{
        width: 90vw;
        flex-wrap: wrap;
    }
}

@keyframes head {
    from{
        /* transform: translateX(30px); */
        /* visibility: hidden; */
        opacity: 0;
    }
    to{
        /* transform: 0; */
        /* visibility: visible; */
        opacity: 100%;
    }
}